.advantages {
    min-height: 473px;
    background-color: rgb(246, 246, 246);
    padding: 70px 0 67px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 65px;
        
    }
    &__item {
        width: 277px;
        color: rgb(13, 13, 13);
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
        &_header {
            margin: 30px 0 20px 0;
            color: rgb(13, 13, 13);
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }
        a {
            color: rgb(255, 0, 0);
            text-decoration: underline;
        }
    }
}
.advantages__header {
    color: rgb(13, 13, 13);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

